:root {
  --primary: #fff7f7;
  --background: #ffffff;
  --primary-text: #070700;
  --secondary: #ffffff;
  --secondary-text: #ffffff;
  --accent: #070700;
  --accent-text: #ffffff;
  --bnb: #debe53;
}
